<!--
Autor : Jaiker Reyes
Web: http://egonzale.org
Email : jaiker.cherubrock@gmail.com
Rails : version 4.2.1
Fecha : 20/08/15
-->
<!-- Incluya los javascripts propios -->

<div class="container">
<h1>Welcome#index Bootstrap</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
</div>


