<!-- variables globales para los javascripts incluidos despues -->
<script>
    /*var formularioactualizarusuarios = null;
    var fotoestudiantedefecto = '<%= "#{@fotoestudiantedefecto}" %>';
    var home_app = '<%= "http://#{request.host}:#{request.port}/"%>';*/
    var rolUsuarioActual = '<%= "#{session[:current_user_rol]}" %>';
</script>

<!-- Incluya los javascripts propios -->

<script type="text/javascript" src="js/app/app.js"></script>
<%= render "archivosJSaCargarPorRol.html.erb" %>

<!--<h1>App#index (rol actual: <%# session[:current_user_rol] %>)</h1>-->
<%# @listaRutasAcargar.each do |ruta| %>
    <!--<p>idOpcion: <%# ruta.idOpcion%>, ruta a cargar: <%# ruta.rutaDeAcceso%></p></br>-->
<%# end %>
<!--<p>Find me in app/views/app/index.html.erb</p>-->
